.info_small{
    width: 88vw;
    .info-gray{
        color: #FFFFFF99;
    }
}

.detail-primary-text{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 28.9px;
    font-size: 17px;
    color: #5A5A5A;
}

.info-address{
    display: flex;
    align-items: center;
    gap: 10px;
    .address-text{
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 17px;
        line-height: 27.2px;
        color: #5A5A5A;
    }
}

.apartments{
    padding: 100px 0;
    .wrapper{
        display: flex;
        gap: 100px;
        .rcol{
            width: 42vw;
            display: flex;
            flex-direction: column;
            gap: 50px;
            .topline{
                display: flex;
                flex-direction: column;
                gap: 30px;
                .topline__info{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    
                    .info-title{
                        font-family: 'Abhaya Libre';
                        font-weight: 800;
                        font-size: 45px;
                        line-height: 55px;
                        color: #0B0B0B;
                    }
                }
                .button-container{
                    display: flex;
                    gap: 20px;
                }
                .price-container{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    background-color: #F5F5F5;
                    padding: 15px 20px 20px 20px;
                    .price-value{
                        font-family: 'Abhaya Libre';
                        font-weight: 700;
                        font-size: 30px;
                        line-height: 35px;

                    }
                    .price-description{
                        font-family: 'Inter', sans-serif;
                        font-weight: 400;
                        font-size: 17px;
                        line-height: 27.2px;
                        color: #5A5A5A;
                    }
                }
            }
            .middleline{
                display: flex;
                flex-direction: column;
                gap: 20px;
                .features{
                    display: flex;
                    gap: 50px;
                    &__item{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        &-text{
                            font-family: 'Red Hat Text', sans-serif;
                            font-weight: 500;
                            font-size: 15px;
                            line-height: 25px;
                            letter-spacing: 3px;
                            text-transform: uppercase;
                        }
                    }
                }
                
            }
            .bottomline{
                display: flex;
                flex-direction: column;
                gap: 20px;
                .bottom-map{
                    height: 300px;
                    object-fit: cover;
                }
            }
        }
    }
}

.apartments .lcol{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    height: fit-content;
}

.detail__gallery-img
{
    height: 200px;
    grid-column: span 1;
    width: 100%;
    object-fit: cover;

    &_big{
        height: 300px;
        grid-column: span 3;
    }
}

body{
    position: relative;
}

.modal{
    position: fixed;
    z-index: -1;
    
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    
    width: 100vw;
    height: 100vh;
    transition: all .3s ease;
    &_active{
        z-index: 9;
        opacity: 1;
    }

    
}


.modal .content{
    overflow-y: scroll;
    transition: all .3s ease;
    transform: translateX(100%);
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    background-color: #FFF;
    height: 100vh;
    padding: 60px 80px 80px 80px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    .modal__topline{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .modal-title{
            font-family: 'Abhaya Libre';
            font-weight: 800;
            font-size: 34px;
            line-height: 55px;
        }
        .modal-close{
            height: fit-content;
        }
    }

    .current-item{
        background-color: #A0895F;
        padding: 20px;
        display: flex;
        gap: 20px;
        .item-info{
            display: flex;
            flex-direction: column;
            gap: 10px;
            color: #FFF;
            &__title{
                font-family: 'Inter', sans-serif;
                font-weight: 400;
                font-size: 17px;
                line-height: 27.2px;
            }
            &__price{
                font-family: 'Abhaya Libre';
                font-weight: 700;
                font-size: 30px;
                line-height: 35px;

            }
        }
        &__image{
            width: 150px;
        }
    }
}

.modal_active .content{
    transform: translateX(0);
}

.form-inquire{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.inquire-input{
    border: 1px solid #D8D8D8;
    padding: 18px 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 27.2px;
    width: calc(50% - 15px);

    &::placeholder{
        font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 27.2px;
    color: #A4A4A4;
    }
    &_big{
        flex-basis: 100%;
    }
    &_iconed{
        &::before{
            
        }
        padding-left: 50px;
        background-repeat: no-repeat;
        background-position-x: 15px;
        background-position-y: 50%;
        &.email{
            background-image: url('../img/mail-modal.svg');
        }
        &.person{
            background-image: url('../img/person-modal.svg');
        }
    }
}

.inquire-textarea{
    resize: none;
    height: 200px;
}

.apartments-form{
    display: flex;

    .wrapper{
        padding-top: 100px;
        padding-bottom: 100px;
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
    .lcol{
        width: 50%;
        background-color: #A0895F;
        .primary-header{
            color: #FFF;
        }
    }

    .rcol{
        img{
            height: 100%;
            object-fit: cover;
        }
    }

    .inquire-input{
        border: 2px solid #FFFFFF4D;
        color: #FFF;
        backdrop-filter: blur(40px);
        background-color: #E1E1E133;
        color: #FFF;
        border-radius: 5px;
        &_iconed{

            &.email{
                background-image: url('../img/mail-form.svg');
            }
            &.person{
                background-image: url('../img/person.svg');
            }
        }
        &::placeholder{
            color: #FFF;
            opacity: 0.6;
        }
    }
}

@media screen and (max-width: 1120px) {
    .apartments{
        padding: 20px 0;
        .wrapper{
            display: flex;
            gap: 30px;
            flex-direction: column;
            .lcol{
                grid-template-columns: repeat(4, 1fr);
                gap: 20px;
                .detail__gallery-img{
                    height: 70px;
                    &_big{
                        height: 170px;
                        grid-column: span 4;
                    }
                }
            }
            .rcol{
                width: 100%;
                .topline{
                    & .topline__info{
                        gap: 10px;
                        .info-title{
                            font-size: 27px;
                            line-height: 30px;
                        }
                    }
                    gap: 20px;
                    .button-container{
                        flex-direction: column;
                        .fixed-button{
                            width: 100%;
                        }
                    }
                    .price-container{
                        .price-value{
                            font-size: 27px;
                            line-height: 30px;
                        }
                        .price-description{
                            font-size: 15px;
                            line-height: 21px;
                        }
                    }
                }
                .middleline{
                    .features{
                        flex-direction: column;
                        gap: 15px;
                    }
                    .detail-primary-text{
                        font-size: 15px;
                        line-height: 21px;
                    }
                }
                .bottomline{
                    .bottom-map{
                        height: 160px;
                    }
                }
                .info-address{
                    
                }
            }
        }
    }
    .apartments-form{
        flex-direction: column-reverse;
        .rcol{
            img{
                height: 200px;
                width: 100%;
            }
        }
        .lcol{
            width: 100%;
            .wrapper{
                gap: 30px;
                padding-top: 40px;
                padding-bottom: 40px;
            }

        }
    }
    .form-inquire{
        gap: 15px;
    }
    .inquire-input{
        width: 100%;
    }
    .modal{
        .content{
            overflow-y: scroll;
            width: 97vw;
            padding: 20px;
            padding-bottom: 60px;
            .modal__topline{
                .modal-title{
                    font-size: 22px;
                    line-height: 35px;
                }
                .modal-close-cross{
                    width: 24px;
                }
            }
            .current-item__image{
                height: 90px;
            }
            .current-item{
                .item-info{
                    &__title{
                        font-size: 15px;
                        line-height: 21px;
                    }
                    &__price{
                        font-size: 22px;
                        line-height: 30px;
                    }
                }
            }
            
        }
    }
}