.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 25px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF4D;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #000;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #A0895F;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.progress{
    width: 100%;
    height: 10px;
    background-color: #A0895F;
    .bar{
        &[value="1"]{
            width: 16.66%;
        }
        &[value="2"]{
            width: 33.33%;
        }
        &[value="3"]{
            width: 50%;
        }
        &[value="4"]{
            width: 66.66%;
        }
        &[value="5"]{
            width: 83.33%;
        }
        &[value="6"]{
            width: 100%;
        }
        background-color: #FFF;
        
        height: 100%;
    }
}

.step-counter{
    position: absolute;
    right: 98px;
    bottom: 100px;
    color: #FFF;
    font-family: 'Abhaya Libre';
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    .title{
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        text-align: right;
    }
    .steps{
        font-weight: 800;
        font-size: 100px;
        line-height: 120px;
    }
}

form.form{
    width: 100%;
    
    background-color: #000;
   
    .wrapper{
        padding: 0;
        padding-top: 120px;
    padding-bottom: 70px;
        margin-left: 6.25vw;
        margin-right: 6.25vw;
        border-bottom: 1px solid #FFF9;
        &_first{
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
    }
}

.form__current-item{
    border-radius: 10px;
    border: 1px solid #A0895F;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form__ci{
    &-lcol{
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: #FFF;
        height: fit-content;
    }
    &-text{
        font-family: 'Red Hat Text';
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 2px;
    }
    &-title{
        font-family: 'Abhaya Libre';
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
    }
    &-price{
        font-family: 'Inter';
        font-weight: 400;
        font-size: 17px;
        line-height: 27.2px;
    }
    &-rcol{
        display: flex;
        align-items: flex-end;
        height: 120px;
        justify-content: flex-end;
        align-self: center;
        img{
            object-fit: cover;
            height: 100%;
        }
    }
}

.button-end{
    flex: 1;
  display: flex;
  justify-content: end;
  flex: 1;
}

.form__wrapper{
    border-radius: 10px;
    background-color: #A0895F;
    padding: 40px 40px 50px 40px;
    &_multi{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

.form__inputs-group{
    display: flex;
    flex-direction: column;
    gap: 40px;
    &_multi{
        padding-bottom: 40px;
        border-bottom: 1px solid #FFF;
    }
}
.input-box{
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &_big{
        flex: 2 1 0;
    }
    &_little{
        flex: 0.5 1 0;
    }
    &_horizontal{
        flex-direction: row;
        align-items: start;
        gap: 10px;
        .form-checkbox{
            margin-top: 4px;
        }
    }
    &[disabled]{
        opacity: 0.4;
    }
}
.form-input{
    width: 100%;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 17px;
    line-height: 27.2px;
    color: #FFF;
    border-radius: 5px;
    border: 2px solid #FFFFFF4D;
    background-color: #E1E1E133;
    padding: 17px 15px;
    &::placeholder{
        font-family: 'Inter';
        font-weight: 400;
        font-size: 17px;
        line-height: 27.2px;
        color: #FFF;
        opacity: 0.6;
    }
    &_iconed{
        background-repeat: no-repeat;
        padding-left: 50px;
        background-position-x: 20px;
        background-position-y: 50%;
        &.map{
            background-image: url('../img/pointer-form.svg');
        }
        &.mail{
            background-image: url('../img/mail-form.svg');
        }
        &.phone{
            background-image: url('../img/Phone.svg');
        }
    }
}
.form__inputs-row{
    display: flex;
    gap: 30px;
    

    
    .input-label{
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 17px;
        line-height: 27.2px;
        color: #FFF;
    }
}

.group-description{
    display: flex;
    gap: 20px;
    align-items: center;
    &__number{
        font-family: 'Red Hat Text', sans-serif;
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        color: #FFFFFF4D;
        
    }
    &__text{
        font-family: 'Red Hat Text', sans-serif;
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #FFF;
    }
}

input[type="date"]::-webkit-calendar-picker-indicator {
    content: '';
    background-image: url('../img/calendar.svg');
}

.select-form{
    position: relative;
    flex: 1;
    // &::-ms-expand {
    //     display: none;
    //   }
    &::after {
        display: block;
        content: "";
        justify-self: end;
        width: 0.8em;
        height: 0.5em;
        background-color: var(--select-arrow);
        clip-path: polygon(100% 0%, 0 0%, 50% 100%);
      }
      &::before{
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        background-color: #FFF;
      }
}

select {
    // A reset of styles, including removing the default dropdown arrow
    appearance: none;
    //background-color: transparent;
    border: none;
    margin: 0;
    width: 100%;
    position: relative;
  
    // Stack above custom arrow
    z-index: 1;
  
    // Remove dropdown arrow in IE10 & IE11
    // @link https://www.filamentgroup.com/lab/select-css.html
    &::-ms-expand {
      display: none;
    }
  
    // Remove focus outline, will add on alternate element
    outline: none;

        background-image: url('../img/arrow-select.svg');
        background-repeat: no-repeat;
        background-position-x: calc(100% - 20px);
        padding-right: 20px;
        background-position-y: 50%;


  }

.button-form{
    width: 250px;
}

.button-nex-wrapper{

    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.applicant-title{
    font-family: 'Abhaya Libre';
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #FFF;
}

.input-label{
    max-height: 24px;
    overflow: hidden;
    font-size: 15px;
}

.form-checkbox{
    position: relative;
    min-width: 18px;
    height: 18px;
    .input{
        position: absolute;
        width: 18px;
        height: 18px;
        z-index: 9;
        opacity: 0;
    }
    
    .mark{
        content: '';
        width: 18px;
        height: 18px;
        background-color: transparent;
        border: 1px solid #FFF;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 3;
        transition: all .2s ease;
    }
    .input:checked ~ .mark{
        background-color: #FFF;
        
    }
    .input:checked ~ .mark::after{
            content: '';
            position: absolute;
            left: calc(50% - 2px);
            top: calc(50% - 5px);
            width: 5px;
            height: 10px;
            border: solid #A0895F;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        
    }
}

.checkbox-text{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 27.2px;
    color: #F5F5F5;

}

.file-input{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0 30px 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    border: 2px dashed #FFFFFF !important;
    background-color: #E1E1E133;
    input{
        display: none;
    }
}

.add-applicant-button{
    margin-top: 30px;
    margin-bottom: 70px;
}
form.form .wrapper_second{
    display: flex;
  flex-direction: column;
  gap: 30px;
}

.input-checklist-wrapper{
    display: flex;
    gap: 40px;
    .lcol, .rcol{
        display: flex;
        flex-direction: column;
        background-color: #A0895F;
        flex-basis: calc(50% - 20px);
        border-radius: 10px;
        padding: 40px 40px 50px 40px;
        gap: 40px;
        height: fit-content;
    }
}

.box-switch-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
    .info-switch-text{
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 25.5px;
        color: #FFF;
    }
}

.switch-group{
    display: flex;
    flex-direction: column;
    gap: 30px;
    .switch-box{
        display: flex;
        gap: 10px;
        .text-switch{
            color: #FFF;
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 17px;
            line-height: 27.2px;
        }
    }
}

.sign-element{
    padding: 40px 40px 50px 40px;
    background-color: #A0895F;
    color: #FFF;
    display: flex;
    gap: 20px;
    border-radius: 10px;
}

.sign-number{
    font-family: 'Abhaya Libre';
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;

}
.sign{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

}
.sign-description{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 27.2px;
}

.sign-button{
    position: relative;
    cursor: pointer;
    .sign-content{
        text-transform: uppercase;
    background-color: #000;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    width: 100%;
    border-radius: 5px;
    padding: 18px 25px;
    display: flex;
    justify-content: center;
    transition: .2s background-color ease;
    
    }
    input{
        cursor: pointer;
        position: absolute;
        z-index: 4;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    input:checked ~ .sign-content{
        background-color: #333;
    }
}

.sign-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.checkbox-text-sign{
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-pay-text{
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFF;
}

.pay-input-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pay-input-wrapper{
    padding: 40px;
    background-color: #A0895F;

}

.pay__card-part{
    padding-bottom: 40px;
    border-bottom: 1px solid #FFFFFF99;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .input-content{
        display: flex;
        justify-content: space-between;
        gap: 40px;
        .lcol{
            display: flex;
        flex-direction: column;
        gap: 20px;
        flex: 1;
        }
        
    }
}

.paypal-input{
    position: relative;
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    font-family: 'Red Hat Text', sans-serif;
    text-transform: uppercase;
    &::after{
        content: '';
        position: absolute;
        right: 15px;
        top: calc(50% - 10px);
        background-image: url('../img/paypal.svg');
        width: 76px;
        height: 20px;
    }
}

.pay-wrapper{
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.info-box{
    border: 1px solid #A0895F;
    padding: 40px;
    gap: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.current-item{
    display: flex;
    gap: 15px;
    .item_img{
        width: 70px;
        height: 70px;
        object-fit: cover;
    }
}

.check-cart{
    
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    border-top: 1px solid #FFFFFF99;
    border-bottom: 1px solid #FFFFFF99;
    
}
.cart__item{
    color: #FFF;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 3px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}
.pay-info{
    width: 24vw;
    .checkbox-text{
        margin-top: 20px;
    }
}

.button-pay{
    box-sizing: content-box;
    width: calc(24vw - 50px);
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}

.complete-wrapper{
    background-color: #000;
    padding: 120px 20vw;
    .top-line{
        display: flex;
        gap: 40px;
        .rcol{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
    display: flex;
    flex-direction: column;
    gap: 70px;
}

@media screen and (max-width: 1120px) {
    .form__ci{
        &-text{
            font-size: 10.64px;
        }
        &-title{
            font-size: 18px;
        }
        &-price{
            font-size: 15px;
        }
        &-rcol{
            min-width: 100px;
            height: 100px;
            display: block;
            img{
                width: 100%;
            }
        }
    }

    form.form{
        .wrapper{
            &_first{
                gap: 20px;
            }
        }
    }

    .form__inputs-row{
        gap: 15px;
        flex-wrap: wrap;
        &_mobile-split{
            flex-direction: column;
        }
        
        .form-input{
            font-size: 15px;
        }
    }

    .form__inputs-group{
        gap: 15px;
    }

    
    .button-form{
        flex: 1;
    }
    .step-counter{
        right: 20px;
        bottom: 40px;
        .steps{
            font-size: 45px;
            line-height: 50px;
        }
        .title{
            font-size: 18px;
            line-height: 35px;
        }
    }
    .input-box{
        flex-basis: 100%;
        &_mobile-small{
            flex-basis: calc(50% - 7.5px);
        }
    }
    .input-checklist-wrapper{
        flex-direction: column;
    }

    .switch-group .switch-box .text-switch{
        font-size: 15px;
        line-height: 24px;
    }
    .input-file-desc{
        font-size: 15px;
        line-height: 24px;
    }
    .sign-description{
        font-size: 15px;
        line-height: 24px;
    }
    .checkbox-text-sign{
        margin: 20px 0;
    }
    .pay-wrapper{
        flex-direction: column;
    }
    .pay__card-part{
        padding-bottom: 20px;
        .rcol{
            display: none;
        }
    }
    .paypal-input{
        margin-top: 20px;
    }
    .pay-info{
        width: 100%;
    }
    .complete-wrapper{
        width: 100%;
        padding: 60px 20px;
        .top-line{
            flex-direction: column;
            align-items: center;
            .rcol{
                text-align: center;
            }
        }
    }
    .button-pay{
        justify-content: center;
        .text-left{
            display: none;
        }
        .text-right{
            img{
                display: none;
            }
        }
    }
}
